name: Java CI with Maven

on:
  push:
    branches:
      - main
    tags-ignore:
      - "*"
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Maven Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
      - name: Setup Maven
        uses: s4u/maven-settings-action@v4.0.0
        with:
          sonatypeSnapshots: true
      - name: Build
        run: mvn install --batch-mode

  publish:
    name: Publish Snapshots
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
          gpg-private-key: ${{ secrets.OSSRH_GPG_PRIVATE_KEY }}
          gpg-passphrase: ${{ secrets.OSSRH_PASSPHRASE }}
      - name: Setup Maven
        uses: s4u/maven-settings-action@v4.0.0
        with:
          sonatypeSnapshots: true
          servers: |
            [{
              "id": "ossrh",
              "username": "${{ secrets.OSSRH_USERNAME }}",
              "password": "${{ secrets.OSSRH_PASSWORD }}"
            }]
      - name: publish-snapshots
        run: mvn deploy --batch-mode -DskipTests -Ppublish
        env:
          OSSRH_PASSPHRASE: ${{ secrets.OSSRH_PASSPHRASE }}
